.container{
	background:white;
	height:100%;
		display:table;
		 box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.table-hover tr{
	cursor:pointer;
}

.hint{
  color:grey;
  font-size:0.8em;
  margin:2px 5px;
}

html, body{
	background: url(../img/background.jpg) fixed;
	background-size: scale;
	height:100%;
}
nav{
	margin-top:-2px;
}
#canvas{
  background: url(../img/map2.jpg) left top;
}